body { margin:0; padding: 0; background-color: #ffffff;}
* {font-family: 'Sora', sans-serif;}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 40px;
}

.index {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width:640px; min-width:326px;
}

h1 {font-size: 2.4em; line-height: 1.7em;
  font-weight: 400; color: #222222; margin: 8px 0px 8px 0px; }

p {font-size: 2em; line-height: 1.7em;
font-weight: 400; color: #222222; margin: 8px 0px 8px 0px; }

a { color: #222222; text-decoration: none; padding: 2px; }

a  { border: none; }

.images {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.images a {
  display: block;
  margin: 0;
  padding: 0;
}