body { margin:0; padding: 0; }
* {font-family: 'Sora', sans-serif;}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  
  position: absolute;
  top: 0;
  left: 20%;
  right: 0;
  bottom: 0;
  margin: auto;

}

h1 {font-size: 2.4em; line-height: 1.7em;
  font-weight: 400; color: #222222; margin: 8px 0px 8px 0px; }
p {font-size: 2em; line-height: 1.7em;
font-weight: 400; color: #222222; margin: 8px 0px 8px 0px; }

a { color: #222222; text-decoration: none; padding: 2px; }

a  { border: none; }

